<app-common-header></app-common-header>
<body style="height: 580px;">
    <div style="height: 100%;">
        <div class="row" style="height:100% ;">
            <div class="col-md-2 class1" style="height: 100%;"><app-admin-sidenav></app-admin-sidenav></div>
            <div class="col-md-10 class2"> <div class="card">
                <div class="card-body">
                    “Physical fitness is not only one of the most important keys to a healthy body, it is the basic of dynamic and creative intellectual activity.” – John F. Kennedy
                </div>
              </div></div>
        </div>
    </div>
</body>
<router-outlet></router-outlet>
