.flex-container{
    display:flex ;
    background-color: white;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    height: 100%;
}

.flex-container >div{
    margin: 10px;
    text-align: center;
    
}

.button-content{
    align-content: center;
}