<div class="container">
    <div>
        <h4>Login</h4>
        <hr>
        <form [formGroup]="loginForm" (ngSubmit)="loginCredentials()">
            <div class="form-group">
                <input type="text" placeholder="Email here......." formControlName="email" class="form-control" />
            </div>
            <br>
            <div class="validation-error" *ngIf="isSubmitted && formControls['email'].errors">
                <div *ngIf="formControls['email'].errors['required']">
                    Email is required
                </div>
            </div>
            <div class="form-group">
                <input type="password" placeholder="Password......." formControlName="password" class="form-control" />
            </div>
            <br>
            <div class="validation-error" *ngIf="isSubmitted && formControls['password'].errors">
                <div *ngIf="formControls['password'].errors['required']">
                    Password is required
                </div>
            </div>
            <br>
            <div>
                <button type="submit" class="btn btn-lg btn-primary form-control">Login</button>
            </div>
            <div class="validation-error" *ngIf="error">
                {{error}}
            </div>
        </form>
    </div>
</div>
<router-outlet></router-outlet>