<app-navbar></app-navbar>

<div class="container">
    <div class="jumbotron">
        <h1 class="display-4">Welcome Doctor</h1>
        <p>Please select your option below</p>
        <hr>
    </div>
    <a [routerLink]="['/doctor/diagnosis-list']" role="button" class="btn btn-outline-secondary">
        <span><i class="fa fa-user-plus fa-1g"></i>
        </span>
        <br>
        View Diagnosis List
    </a>

    <a [routerLink]="['/doctor/labtest-list']" role="button" class="btn btn-outline-secondary">
        <span><i class="fa fa-user-plus fa-1g"></i>
        </span>
        <br>
        View Lab Test
    </a>

    <a [routerLink]="['/doctor/med-list']" role="button" class="btn btn-outline-secondary">
        <span><i class="fa fa-user-plus fa-1g"></i>
        </span>
        <br>
        View Medicine List
    </a>


    <br>
    <br><br><br><br>
    <br>
    <br>
    

    <div class="input-group mb-3">
        <input type="search" class="form-control rounded-pill border-0 py-3" placeholder="Search equipments..." [(ngModel)]="term" aria-label="Search tests" aria-describedby="search-addon">
        <div class="input-group-append">
          <button class="btn btn-primary rounded-pill py-3 px-4" type="button" id="search-addon">
            <i ></i> Search
          </button>
        </div>
      </div>
    <div class="container">
    
        <table class="table table-bordered table-stripped">
            <thead>
                <tr>
                    <th>SI.NO</th>
                    <th>Op Id</th>
                    <th>Name</th>
                    <th>Gender</th>
                    <th>Age</th>
                    <th>Blood Group</th>
                    <th>Appointment Date</th>
                    <th>Time Slot</th>
                    <th>Token</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let doctor of doctorService.appointment_details |paginate: { itemsPerPage: 3, currentPage: p }">
                    <td>{{ doctor.id }}</td>
                    <td>{{ doctor.patient.opid}}</td>
                    <td>{{ doctor.patient.name }}</td>
                    <td>{{ doctor.patient.gender }}</td>
                    <td>{{ doctor.patient.age }}</td>
                    <td>{{ doctor.patient.blood_group }}</td>
                    <td>{{ doctor.appointment_date}}</td>
                    <td>{{ doctor.time_slot }}</td>
                    <td>{{ doctor.token}}</td>
                    <td>
                        <button class="btn btn-sm btn-outline-primary" (click)="getRecord(doctor)" >View</button>
                    </td>
        
                </tr>
            </tbody>
        
        </table>

        <div class="container">
            <div class="footer">
                <pagination-controls (pageChange)="onPageChange($event)"></pagination-controls>
            </div>
        </div>
<br>
<br>


    <router-outlet></router-outlet>
