<div class="container">
  <h2>Patient List</h2>
  <div class="table-responsive">
    <table class="table table-striped table-bordered custom-table">
      <thead class="thead-dark">
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th>Date of Birth</th>
          <th>Blood Group</th>
          <th>Age</th>
          <th>Doctor</th>
          <th>Lab Tests</th>
          <th>High Value</th>
          <th>Low Value</th>
          <th>Tested Value</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngIf="!livetestservice.testprescribe1.is_active">
          <td>{{ livetestservice.testprescribe1.id }}</td>
          <td>{{ livetestservice.testprescribe1.labtests.appointment.patient.name }}</td>
          <td>{{ livetestservice.testprescribe1.labtests.appointment.patient.dob }}</td>
          <td>{{ livetestservice.testprescribe1.labtests.appointment.patient.blood_group }}</td>
          <td>{{ livetestservice.testprescribe1.labtests.appointment.patient.age }}</td>
          <td>{{ livetestservice.testprescribe1.labtests.appointment.doctor.user_id.first_name }}</td>
          <td>
            <ul class="list-unstyled">
              <li *ngFor="let labTest of livetestservice.testprescribe1.lab_tests_details">
                {{ labTest.test_name }}
              </li>
            </ul>
          </td>
          <td>
            <ul class="list-unstyled">
              <li *ngFor="let labTest of livetestservice.testprescribe1.lab_tests_details">
                {{ labTest.high_value }}
              </li>
            </ul>
          </td>
          <td>
            <ul class="list-unstyled">
              <li *ngFor="let labTest of livetestservice.testprescribe1.lab_tests_details">
                {{ labTest.low_value }}
              </li>
            </ul>
          </td>
          <td>
            <form #form="ngForm" (ngSubmit)="onSubmit(form, livetestservice.testprescribe1)">
              <input name="tested_value" [(ngModel)]="livetestservice.formEmployeeData1.tested_value" class="form-control" required>
              <button type="submit" class="btn btn-primary mt-2">Save</button>
            </form>
            <button class="btn btn-primary mt-2" (click)="printPage()">PRINT</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <a [routerLink]="['/newtest/dotest']" role="button" class="btn btn-secondary mt-3">
    <i class="fa fa-arrow-left mr-2"></i> BACK
  </a>
</div>
