<p>pharmacist-list works!</p>
<!-- 
<h1>pharma</h1>
<table class="table table-bordered table-stripped">
    <thead>
        <tr>
            <th>ID</th>           
            <th>opid</th>
         
            <th>Doctor</th>
            
            <th>Action</th>
            
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let med of pharmacistService.pharmacist">
        <td>{{ med.id }}</td>
        <td>{{ med.opid }}</td>
      
        <td>{{ med.doctor}}</td>
   
            <td>
                <button class="btn btn-primary"(click)="navigateToView(med.id)"  >VIEW</button>
              </td>
       
        </tr>
    </tbody>

</table>
<router-outlet></router-outlet> -->

<!-- <app-navbar></app-navbar> -->
<br>
<div class="container">

    <div class="jumbotron sm">
        <h5 class="display-4">Medicine Prescription</h5>
    </div>
    <br>
    <!-- <div class="input-group mb-3">
        <input type="search" class="form-control rounded-pill border-0 py-3" placeholder="Search equipments..." [(ngModel)]="term" aria-label="Search tests" aria-describedby="search-addon">
        <div class="input-group-append">
          <button class="btn btn-primary rounded-pill py-3 px-4" type="button" id="search-addon">
            <i ></i> Search
          </button>
        </div>
      </div> -->
    <table class="table table-bordered table-stripped">
        <thead>
            <tr>
                <th>SI.NO</th>
                <th>Op Id</th>
                <th>Name</th>
                <th>Gender</th>
                <th>Age</th>
                <th>Medicine</th>
                <th>Morning</th>
                <th>Noon</th>
                <th>Night</th>
                <th>Frequency</th>
                <th>Date of Prescribtion</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let doctor of pharmacistService.pharmacist">
                <td>{{ doctor?.id }}</td>
                <td>{{ doctor?.med?.appointment?.patient?.opid}}</td>
                <td>{{ doctor?.med?.appointment?.patient?.name }}</td>
                <td>{{ doctor?.med?.appointment?.patient?.gender }}</td>
                <td>{{ doctor?.med?.appointment?.patient?.age }}</td>
                <td>
                    <ul>
                        <li *ngFor="let med of doctor.med_list">
                          {{ med?.name }}
                        </li>
                      </ul>
                </td>
                <td>{{ doctor?.morning }}</td>
                <td>{{ doctor?.noon }}</td>
                <td>{{ doctor?.night }}</td>
                <td>{{ doctor?.frequency }}</td>
                <td>{{ doctor?.date_of_prescribition }}</td>
                <td>
                    <button class="btn btn-sm btn-outline-danger" >View</button>
                    
                </td>
    
            </tr>
        </tbody>
    
    </table>

    <!-- <div class="footer">
        <pagination-controls (pageChange)="onPageChange($event)"></pagination-controls>
    </div> -->
    </div>
    <router-outlet></router-outlet>

