<app-common-header></app-common-header>

<div class="container">
    <h3>Add Diagnosis</h3>
    <hr>
    
    <form name="formEmployee" #form="ngForm" autocomplete="off" (ngSubmit)="onSubmit(form)">
        
        <input type="hidden" name="id" [(ngModel)]="doctorService.formEmployeeData.id">
  
        <div class="form-group">
            <label>OP_ID:</label>
            <input name="opid" #opid="ngModel" [(ngModel)]="formEmployeeData2.patient.opid" required class="form-control">
            <div class="validation-error" *ngIf="opid.touched && opid.invalid">
                <div>OP_ID is required</div>
            </div>
        </div>
        <br>
  
        <div class="form-group">
            <label>Name:</label>
            <input name="name" #name="ngModel" [(ngModel)]="formEmployeeData2.patient.name" required class="form-control">
            <div class="validation-error" *ngIf="name.touched && name.invalid">
                <div>Name is required</div>
            </div>
        </div>
        <br>
  
        <div class="form-group">
            <label>Age:</label>
            <input name="age" #age="ngModel" [(ngModel)]="formEmployeeData2.patient.age" required class="form-control">
            <div class="validation-error" *ngIf="age.touched && age.invalid">
                <div>Age is required</div>
            </div>
        </div>
        <br>
  
        <div class="form-group">
            <label>Gender:</label>
            <input name="gender" #gender="ngModel" [(ngModel)]="formEmployeeData2.patient.gender" required class="form-control">
            <div class="validation-error" *ngIf="gender.touched && gender.invalid">
                <div>Gender is required</div>
            </div>
        </div>
        <br>
  
        <div class="form-group">
            <label>Blood Group:</label>
            <input name="blood_group" #blood_group="ngModel" [(ngModel)]="formEmployeeData2.patient.blood_group" required class="form-control">
            <div class="validation-error" *ngIf="blood_group.touched && blood_group.invalid">
                <div>Blood group is required</div>
            </div>
        </div>
        <br>

        <div class="form-group">
            <label>Appointment ID:</label>
            <input name="appointment" #appointment="ngModel" [(ngModel)]="doctorService.formDiagnosisData.appointment.id" required class="form-control">
            <div class="validation-error" *ngIf="appointment.touched && appointment.invalid">
                <div>appointment is required</div>
            </div>
        </div>
        <br>

        <div class="form-group">
            <label>Medical History:</label>
            <input name="medical_history" #medical_history="ngModel" [(ngModel)]="doctorService.formDiagnosisData.medical_history" required class="form-control">
            <div class="validation-error" *ngIf="medical_history.touched && medical_history.invalid">
                <div>Medical history is required</div>
            </div>
        </div>
        <br>
  
        <div class="form-group">
            <label>Symptoms:</label>
            <input name="symptoms" #symptoms="ngModel" [(ngModel)]="doctorService.formDiagnosisData.symptoms" required class="form-control">
            <div class="validation-error" *ngIf="symptoms.touched && symptoms.invalid">
                <div>Symptoms are required</div>
            </div>
        </div>
        <br>
  
        <div class="form-group">
            <label>Diagnosis:</label>
            <input name="diagnosis" #diagnosis="ngModel" [(ngModel)]="doctorService.formDiagnosisData.diagnosis" required class="form-control">
            <div class="validation-error" *ngIf="diagnosis.touched && diagnosis.invalid">
                <div>Diagnosis is required</div>
            </div>
        </div>
        <br>
  
        <div class="form-group">
            <label>Doctor Note:</label>
            <input name="doctor_note" #doctor_note="ngModel" [(ngModel)]="doctorService.formDiagnosisData.doctor_note" required class="form-control">
            <div class="validation-error" *ngIf="doctor_note.touched && doctor_note.invalid">
                <div>Doctor note is required</div>
            </div>
        </div>
        <br>
  
        <div class="form-group">
            <label>Next Visit:</label>
            <input type="date" name="next_visit" #next_visit="ngModel" [(ngModel)]="doctorService.formDiagnosisData.next_visit" required class="form-control">
            <div class="validation-error" *ngIf="next_visit.touched && next_visit.invalid">
                <div>Next visit is required</div>
            </div>
        </div>
        <br>
  
        <div class="form-group">
            <button type="submit" [disabled]="!form.valid" class="btn btn-lg btn-primary form-control">Submit</button>
        </div>
            
    </form>
  </div>
  